/* -------------------------------------------------------------------------------- */
/* ! Max-width: 1200px */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }

    .container-item {
        width: calc(100% / 4 - 15px);
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Max-widht: 992px */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 992px) {
    .container-item {
        width: calc(100% / 3 - 15px);
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Tablet */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    .container-item {
        width: calc(100% / 2 - 15px);
    }

    .container-item-text h3 {
        font-size: .9em;
    }

    .container-item-text .sub-title {
        font-size: 0.8em;
    }

    .hover-img {
        font-size: 2.5em;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Mobile xs */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 567px) {
    #logo .main-logo {
        display: none;
    }

    #logo {
        width: 100%;
    }

    #logo .small-logo {
        display: block;
    }

    #aside {
        width: 50px;
    }

    #aside .playlist {
        display: none;
    }

    #aside li span {
        display: none;
    }

    .main-content {
        width: calc(100% - 50px);
    }

    .container {
        flex-wrap: wrap;
    }

    .container-item {
        width: calc(100% / 2 -15px);
        margin-bottom: 30px;
    }

    .hover-img {
        font-size: 5em;
    }
}