/* -------------------------------------------------------------------------------- */
/* ! Max-width: 1200px */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }

    .container-item {
        width: calc(100% / 4 - 15px);
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .toolbar-right .album-title a {
        font-size: 0.7em;
    }

    .toolbar-right .icon {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .toolbar-left {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Max-widht: 992px */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 992px) {
    .container-item {
        width: calc(100% / 3 - 15px);
    }

    .toolbar-right .album-small img {
        height: 30px;
    }

    .toolbar-right .album-title span {
        font-size: 0.8em;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Tablet */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    .container-item {
        width: calc(100% / 2 - 15px);
    }

    .container-item-text h3 {
        font-size: .9em;
    }

    .container-item-text .sub-title {
        font-size: 0.8em;
    }

    .hover-img {
        font-size: 2.5em;
    }

    .toolbar-right .icon {
        display: none;
    }

    .toolbar-left input {
        display: none;
    }

    .toolbar-left .controller {
        flex-direction: column;
    }

    .toolbar-center .progress input[type=range] {
        min-width: 300px;
        margin: 0 auto;
    }

    .toolbar-left {
        width: 5%;
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Mobile xs */
/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 567px) {
    #logo .main-logo {
        display: none;
    }

    #logo {
        width: 100%;
    }

    #logo .small-logo {
        display: block;
    }

    #aside {
        width: 50px;
    }

    #aside .playlist {
        display: none;
    }

    #aside li span,
    #aside span {
        display: none;
    }

    #aside .aside-bottom .install,
    #aside .aside-bottom .user {
        justify-content: center;
        border: none;
    }

    .main-content {
        width: calc(100% - 50px);
    }

    .container {
        flex-wrap: wrap;
    }

    .container-item {
        width: calc(100% / 2 -15px);
        margin-bottom: 30px;
    }

    .hover-img {
        font-size: 5em;
    }

    .toolbar-right {
        width: 25%;
    }
}