/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.debug {
    border: 1px solid red;
}

/* -------------------------------------------------------------------------------- */
/* ! Custom properties */
/* -------------------------------------------------------------------------------- */
:root {
    --color-text: #838383;
    --color-accent: #adff2f;
    --color-negative: #ffffff;
    --color-upbar: 8, 11, 18;
    --color-aside: #000000;
    --color-toolbar: #282828;
    --color-main: #141922;
}

/* Container */
.wrapper {
    height: 100vh;
}

#upbar {
    position: fixed;
    height: 90px;
    top: 0px;
    left: 200px;
    width: 100%;
    background-color: var(--color-upbar);
    z-index: 999;
}

.main {
    height: calc(100vh - 90px);
    display: flex;
}

.main-aside {
    background-color: var(--color-aside);
    width: 200px;
}

.main-content {
    background-color: var(--color-main);
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 110px;
}

#toolbar {
    height: 90px;
    background-color: var(--color-toolbar);
}